<nav class="sidebar-nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/auctions" routerLinkActive="active">
        <i class="fas fa-gavel"></i> Auctions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assets" routerLinkActive="active">
        <i class="fas fa-boxes"></i> Assets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transactions" routerLinkActive="active">
        <i class="fas fa-exchange-alt"></i> Transactions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/requests" routerLinkActive="active">
        <i class="fas fa-paper-plane"></i> Requests
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/categories" routerLinkActive="active">
        <i class="fas fa-tags"></i> Categories
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">
        <i class="fas fa-user-friends"></i> Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/roles" routerLinkActive="active">
        <i class="fas fa-user-shield"></i> Roles
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reports" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i> Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/audittrial" routerLinkActive="active">
        <i class="fas fa-history"></i> Audit Trial
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" routerLinkActive="active">
        <i class="fas fa-cog"></i> Settings
      </a>
    </li>
  </ul>
</nav>
