<!-- <app-header></app-header> -->

<div class="container mt-4">

  <!-- Promotions Section -->
  <app-promotions></app-promotions>
  
  
</div>

  <section class="mt-5">
    <app-direct-sale></app-direct-sale>
  </section>


  <section class="mt-5">
    <app-category-card></app-category-card>
  </section> 

  <!-- Help and Resources Section -->
  <section class="help-resources-section mt-5">
    <div class="tabs-container">
      <div class="tab">
        <h3>Help</h3>
        <ul>
          <li><a href="/contact-support">Contact Support</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-services">Terms of Services</a></li>
          <li><a href="/cookie-policy">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="tab">
        <h3>Resources</h3>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/guides">Guides</a></li>
          <li><a href="/status">Status</a></li>
        </ul>
      </div>
    </div>
  </section>


<!-- <app-footer></app-footer> -->
