<div class="promotion mb-5">
  <div class="banner">
    <img src="assets/banner.jpg" alt="Promotion Banner" class="img-fluid" />

    <!-- <div class="banner-text">
      <h1 class="banner-title">Auction Management Platform</h1>
      <h3 class="banner-subtitle">Where bidding to winning is easy.</h3>
    </div> -->
  </div>

  <div class="promo-container mt-4">
    <img src="assets/Promo1.jpg" alt="Promo 1" class="promo-img" />
    <img src="assets/Promo2.jpg" alt="Promo 2" class="promo-img" />
  </div>
</div>
