<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3>Create New Request</h3>
      <div>
        <button class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" (click)="createNew()">Save</button>
      </div>
    </div>
  
    <form>
      <div class="row">
        <!-- <div class="col-md-6 mb-3">
          <label>Request Number</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="requestData.requestNumber"
                 name="requestNumber">
        </div> -->

        <div class="mb-3">
            <label>Request Number</label>
            <input type="text" class="form-control" [value]="newRequest.requestNumber" readonly>
          </div>
          
        <div class="col-md-6 mb-3">
          <label>User ID</label>
          <input type="number" class="form-control" [(ngModel)]="newRequest.userId" name="userId">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Username</label>
          <input type="text" class="form-control" [(ngModel)]="newRequest.username" name="username">
        </div>
        <div class="col-md-6 mb-3">
          <label>Mobile Number</label>
          <input type="text" class="form-control" [(ngModel)]="newRequest.mobileNumber" name="mobileNumber">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="newRequest.email" name="email">
        </div>
        <div class="col-md-6 mb-3">
          <label>Type</label>
          <select class="form-select"
                  [(ngModel)]="newRequest.requestTypeId"
                  name="requestTypeId">
            <option [value]="1">Transfer of Ownership</option>
            <option [value]="2">Inquiry</option>
            <option [value]="3">Request for Viewing</option>
            <option [value]="4">Offer</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Asset ID</label>
          <input type="number"
                 class="form-control"
                 [(ngModel)]="newRequest.assetId"
                 name="assetId">
        </div>
        <div class="col-md-6 mb-3">
          <label>Transaction ID</label>
          <input type="number"
                 class="form-control"
                 [(ngModel)]="newRequest.transactionId"
                 name="transactionId">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Date & Time</label>
          <input type="datetime-local"
                 class="form-control"
                 [(ngModel)]="newRequest.requestDateTime"
                 name="requestDateTime">
        </div>
        <div class="col-md-6 mb-3">
          <label>Status</label>
          <select class="form-select"
                  [(ngModel)]="newRequest.requestStatusId"
                  name="requestStatusId">
            <option [value]="1">Pending</option>
            <option [value]="2">Done</option>
            <option [value]="3">Approved</option>
            <option [value]="4">Rejected</option>
          </select>
        </div>
      </div>
  
      <div class="mb-3">
        <label>Customer Notes</label>
        <textarea class="form-control"
                  rows="2"
                  [(ngModel)]="newRequest.customerNote"
                  name="customerNote"></textarea>
      </div>
  
      <div class="mb-3">
        <label>Admin Notes</label>
        <textarea class="form-control"
                  rows="2"
                  [(ngModel)]="newRequest.adminNote"
                  name="adminNote"></textarea>
      </div>
  
      <div class="form-check mb-3">
        <input class="form-check-input"
               type="checkbox"
               [(ngModel)]="newRequest.createdByAdmin"
               name="createdByAdmin"
               id="createdByAdmin">
        <label class="form-check-label" for="createdByAdmin">
          Created by Admin
        </label>
      </div>
    </form>
  </div>
  